.producto{
    border: solid 1px black;
    width: fit-content;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.tab{
    border: 1px solid rgb(0, 0, 0);
    width: 300px;
    height: 400px;

}
.tabContenido{
    width: 90%;
    height: 90%;
    background: gray ;   
    margin-left: 15px;
}