

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Menu</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <li><a class="nav-link " routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Inicio</a></li>
            <li><a class="nav-link " routerLink="/directiva" routerLinkActive="active">Directiva</a></li>
            <li><a class="nav-link " routerLink="/ejemplo" routerLinkActive="active">Ejemplo</a></li>
            <li><a class="nav-link " routerLink="/pipes" routerLinkActive="active">Pipes</a></li>
            <li><a class="nav-link " routerLink="/usuario" routerLinkActive="active">Usuario</a></li>
            <li><a class="nav-link " routerLink="/articulo" routerLinkActive="active">Articulo</a></li>
        </div>
      </div>
    </div>
  </nav>